{% assign splitImages = images | split: ", " %}
{% assign splitLabels = labels | split: "|" %}

<div style="
  display: flex; justify-content: space-around; flex-flow: row wrap; 
  max-width: 1060px;
  margin: 0 auto;
  padding: 1em;">

{% for img in splitImages %}
  <div>
  <img height="{{ height }}px" width="auto" src="{{ img }}">
  <div style="margin: auto; text-align: center; font-weight: bold; width: {{ height }}px;">{{ splitLabels[forloop.index0] }}</div>
  <br>
  </div>
{% endfor %}

</div>
