{% assign splitTitles = titles | split: ", " %}
{% assign splitLinks = links | split: ", " %}
{% assign splitIcons = icons | split: ", " %}
<br />
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  {% for title in splitTitles %}
    <a href="{{ splitLinks[forloop.index0] }}">
    <div class="navB" style="display: flex; justify-content: space-around; align-items: center; line-height: 0;">
    <img width="auto" height="24px" src="{{ splitIcons[forloop.index0] }}" style="margin-right: 1em;">
    <br>{{ title }}</div>
    </a>
  {% endfor %}
</div>
<br />

<style>
  .navB {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #c18dc2;
    padding: 1em 2em;
    margin: 0.5em;
    border-radius: 2em;
  }
</style>