<div class="text-center">
<div class="center-title">{{ title }}</div>
<div class="center-text">{{ text }}</div>
</div>

<style>
  .text-center {
    text-align: center;
    color: #333333;
    max-width: 720px;
    margin: auto;
    margin-bottom: 2em;
  }

  .center-title {
    line-height: 1.25;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 2.4em;
  }

  .center-text {
    font-size: 1.2em;
    font-weight: normal;
  }
</style>