{% for block in section.blocks %}
    {% case block.type %}
        {% when 'image' %}
        {% include 'color-block-image' %}
        {% when 'video' %}
        {% include 'video-on-page' %}
		{% when 'back-image' %}
        {% include 'background-image' %}
		{% when 'img-text' %}
		{% include 'image-text' %}
		{% when 'space' %}
		{% include 'empty-space' %}
		{% when 'quad' %}
		{% include 'image-quad' %}
    {% endcase %}
{% endfor %}
{% schema %}
{
"blocks": [
{
  "type": "video",
  "name": "Full Width YouTube Video",
  "settings": [
    {
      "type": "text",
      "id": "videoID",
      "label": "Video ID",
      "default": "Enter Video ID Here"
    }
  ]
},
{
  "type": "image",
  "name": "Color Block with Image",
  "settings": [
	{
	  "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
	  "type": "checkbox",
	  "id": "blockFlexReverse",
	  "label": "Image Left Side",
	  "default": false
	},
    {
      "type": "text",
      "id": "blockTitle",
      "label": "Block Title",
      "default": "Enter Title Here"
    },
	{
      "type": "richtext",
      "id": "blockText",
      "label": "Block Text",
	  "default": "<p>Enter color block text here...</p>"
    },
	{
      "type": "text",
      "id": "blockButtonLabel",
      "label": "Block Button Label",
      "default": "Label"
    },
	{
      "type": "url",
      "id": "blockLink",
      "label": "Block Button Link"
    }
  ]
},
{
  "type": "back-image",
  "name": "Background Image",
  "settings": [
	{
	  "type": "image_picker",
      "id": "backImage",
      "label": "Image"
    },
	{
	  "type": "checkbox",
	  "id": "fullSpan",
	  "label": "Full Span",
	  "default": true
	},
	{
	  "type": "checkbox",
	  "id": "leftSide",
	  "label": "Left Side",
	  "default": true
	},
	{
	  "type": "url",
	  "id": "backIcon",
	  "label": "Icon"
	},
    {
      "type": "text",
      "id": "backTitle",
      "label": "Title",
      "default": "Enter Title Here"
    },
	{
      "type": "richtext",
      "id": "backText",
      "label": "Text",
	  "default": "<p>Enter text here...</p>"
    },
	{
      "type": "text",
      "id": "backButtonLabel",
      "label": "Button Label",
      "default": "Label"
    },
	{
      "type": "url",
      "id": "backLink",
      "label": "Button Link"
    }
  ]
},
{
  "type": "f-image",
  "name": "Full Image",
  "settings": [
	{
	  "type": "image_picker",
      "id": "fullImage",
      "label": "Image"
    }
  ]
},
{
  "type": "img-text",
  "name": "Image Text",
  "settings": [
	{
	  "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
	  "type": "checkbox",
	  "id": "blockFlexReverse",
	  "label": "Image Left Side",
	  "default": false
	},
    {
      "type": "text",
      "id": "blockTitle",
      "label": "Block Title",
      "default": "Enter Title Here"
    },
	{
      "type": "richtext",
      "id": "blockText",
      "label": "Block Text",
	  "default": "<p>Enter color block text here...</p>"
    }
  ]
},
{
  "type": "space",
  "name": "Empty Space",
  "settings": [
	{
	  "type": "range",
      "id": "numLines",
      "label": "Number of Lines",
	  "min": 0,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ]
},
{
  "type": "quad",
  "name": "Quad",
  "settings": [
	{
	  "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
	{
	  "type": "checkbox",
	  "id": "disabled1",
	  "label": "Disable",
	  "default": false
	},
	{
	  "type": "text",
      "id": "icon1",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title",
      "default": "Image 1"
    },
	{
      "type": "url",
      "id": "link1",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
	{
	  "type": "checkbox",
	  "id": "disabled2",
	  "label": "Disable",
	  "default": false
	},
	{
	  "type": "text",
      "id": "icon2",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title",
      "default": "Image 2"
    },
	{
      "type": "url",
      "id": "link2",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
	{
	  "type": "checkbox",
	  "id": "disabled3",
	  "label": "Disable",
	  "default": false
	},
	{
	  "type": "text",
      "id": "icon3",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title",
      "default": "Image 3"
    },
	{
      "type": "url",
      "id": "link3",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    },
	{
	  "type": "checkbox",
	  "id": "disabled4",
	  "label": "Disable",
	  "default": false
	},
	{
	  "type": "text",
      "id": "icon4",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "Title",
      "default": "Image 4"
    },
	{
      "type": "url",
      "id": "link4",
      "label": "Link URL"
    }
  ]
}
]
}
{% endschema %}