{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/hero-scientists.jpg'
  full: true
  title: 'Scientists'
  text: 'doTERRA’s team of expert scientists and research partners have revolutionized the essential oil industry through state-of-the-art testing and unrelenting innovation.'
  icon: 'https://sourcetoyou.com/assets/flask-white.svg'
  left: true
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/info-scientists-microscope.jpg'
  title: 'Difference'
  text: 'Unlike others in the essential oils industry, doTERRA is built on firm science. doTERRA employs more than 30 scientists and boasts 2,200 square feet in cutting-edge laboratory space. doTERRA’s committed scientists continue to push the boundaries of rigor in essential oil testing and they are responsible for breakthroughs in sourcing, evolving models of use, and state-of the-art testing procedures. doTERRA has pushed aromatherapy tradition into the 21st century and remains the unmatched industry leader in innovation.'
  left: true
%}

{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/row-scientists-cptg.jpg'
  full: true
  text: 'doTERRA’s state-of-the-art lab uses the most advanced testing methods to verify the purity and potency of its essential oils.<br><br>After the aromatic compounds are distilled from the plant material, each batch is scrupulously tested to ensure that it meets CPTG Certified Pure Therapeutic Grade® standards.'
  sideImage: 'https://sourcetoyou.com/assets/logo-cptg-white.svg'
  left: true
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/info-orchid-2.png'
  title: 'Most Tested.<br>Most Trusted.'
  text: '<b>The doTERRA mission hinges on discovering and developing the world’s highest quality essential oils, and we stay at the forefront of scientific advances by partnering with selected academic, industry, and scientific institutions.</b><br><br>Gas Chromatography and Mass Spectroscopy (GC/MS) have been touted as the standard for essential oil testing, and while they remain an early indicator of quality, they are not a definitive indicator of quality.<br><br>As such, doTERRA has developed a testing sequence that far exceeds the industry standard in both breadth and scope. Each step ensures that only the highest quality essential oils pass through quality control, quality assurance, and on to you and your family.'
  left: false
%}

<div style="background-color: #E5F3E9;">
<br /><br /><br />
{% include 'text-center' 
  title: 'Each batch of essential oils goes through a battery of rigorous and definitive tests.'
  text: 'These tests include the following:'
%}

{% include 'slide-list'
  labels: 'Organoleptic Assessments|Specific Gravity|Gas Chromatography/<br>Mass Spectography<br>(GC/MS)|Fourier Transform Infrared Spectroscopy (FTIR)|Optical Rotation|Refractive Index|Contamination Testing|Stability Testing'
  infos: '
In this phase, essential oil chemists, manufacturing engineers, and quality technicians manually assess the appearance, aroma, and color of each essential oil.|
The specific gravity portion of the testing process compares the volume-to-weight ratio to reference standards to verify oil quality and purity.|
During this stage, molecules are separated and identified to ensure that the chemistry of the oil matches the expected chemical profile.|
FTIR testing uses infrared light to analyze the material composition of an oil to determine if it meets doTERRA’s established standards.|
Optical rotation tests for chirality by measuring the amount of light bend produced by the orientation of the molecules to determine whether the molecular structure complies with the determined standard.|
A refractometer is used to determine the essential oil’s refractive index—a measurement of how light spreads through a specific substance—to ensure that the essential oil meets doTERRA’s established standards.|
Batches that meet the physical testing criteria are then run through a series of on-site contamination tests by expert microbiologists to confirm that there are no harmful contaminants. The oils are tested for potentially harmful microorganisms, heavy metals, and pesticides to certify safe use when proper usage guidelines are followed.|
doTERRA also conducts on-going stability testing to ensure that essential oils will maintain their purity and efficacy for the length of their intended use. In this series of tests, chambers that alter temperature and humidity are used to analyze how essential oils react when exposed to different atmospheric conditions for extended periods of time. This testing protocol ensures that doTERRA essential oils will continue to provide safe and effective benefits for years.|
'
  height: '140'
%}

{% include 'text-center' 
  title: 'Scientific Experts and Advisors' 
  text: '<b>Along with an impressive staff that oversees the day-to-day testing and chemical processes for doTERRA essential oils, doTERRA has assembled the industry’s most distinguished group of advisors.</b><br><br>Our unrivaled scientific experts and advisors include the world’s foremost authorities in essential oil chemistry, botany, microbiology, physiology, research science, nutritional science, and nutraceuticals.'
%}

{% include 'image-list' 
  images: '
https://sourcetoyou.com/assets/biopic-drdavidhill-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-ryanfinch-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-alexandreapaul-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-ryan-roberts-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-nicolestevens-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-alexmdabell-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-jeffdorsett-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-thaole-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-damian-rodriquez-w462h558.jpg'
  labels: 'Dr. David Hill, D.C|Ryan Finch|Alexandrea Paul|Ryan Roberts|Nicole Stevens, M.S.|Alex M. DaBell, M.S.|Jeff Dorsett, MSHS|Thao Le|Damian Rodriguez, DHSc, M.S.'
  height: '240px'
%}
</div>

<br /><br /><br />
<h1 style="text-align: center; margin: auto; font-size: 3em; font-weight: bold;">Partnerships</h1>
{% comment %} {% include 'text-center' 
  title: 'Partnerships'
%} {% endcomment %}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/logo-aprc-1.svg'
  text: 'The Aromatic Plant Research Center (APRC) is a state-of-the-art laboratory that utilizes a variety of methods to detect adulteration and confirm the purity of essential oils.'
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/logo-unpa-1.svg'
  text: 'The United Natural Products Alliance (UNPA) is an international association representing more than 100 best-in-class natural products, dietary supplement, functional food, and scientific and technology and related service companies that share a commitment to providing consumers with natural health products of superior quality, benefit and reliability.'
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/logo-sustanable-herb-program-1.svg'
  text: 'The Sustainable Herbs Program (SHP) was created to support high quality herbal remedies, sustainable and ethical sourcing, and greater transparency in the industry.'
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/logo-crnmembervt-1.svg'
  text: 'The Council for Responsible Nutrition (CRN), founded in 1973 and based in Washington, D.C., is the leading trade association representing dietary supplement and functional food manufacturers and ingredient suppliers.'
%}

{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/banner-pic-scientists-1.jpg'
  full: true
  color: '#333333'
  text: 'You and your family deserve only the most pure, potent, and effective oils on earth. dōTERRA takes great pride in sourcing them to you.'
  icon: 'https://sourcetoyou.com/assets/you-flower-1.svg'
  left: true
%}

{% include 'quick-links'
  titles: 'Growers, Distillers, Practitioners'
  links: '/pages/growers, /pages/distillers, /pages/practitioners'
  icons: 'https://sourcetoyou.com/assets/leaf-white.svg, https://sourcetoyou.com/assets/droplet-white.svg, https://sourcetoyou.com/assets/medical-white.svg'
%}

<style>
  .main-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
</style>