{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/hero-practitioners.jpg'
  full: true
  title: 'Practitioners'
  text: 'doTERRA’s team of medical advisors collaborates with prominent universities and medical communities to develop groundbreaking research on essential oils and their application.'
  icon: 'https://sourcetoyou.com/assets/medical-white.svg'
  left: true
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/infopic-practitioners-future.jpg'
  title: 'Forging The Future'
  text: 'Collaborating with many of the top universities and independent facilities in the world, doTERRA is at the forefront of essential oil science.'
%}

{% include 'background-image' 
  image: 'https://sourcetoyou.com/assets/row-medical-partnerships.jpg'
  full: true
  title: 'Medical Partnerships'
  text: 'doTERRA’s dedication to working with modern healthcare has led to growing partnerships with world-renowned medical facilities. These facilities use doTERRA essential oils every day to improve outcomes for patients and the work environment for the staff. The medical partnerships empower doTERRA to discover more effective and safe uses of essential oils as complements to modern medicine.'
  left: false
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/infopic-university-partnerships.jpg'
  title: 'Univerisity Partnerships'
  text: 'doTERRA also supports many clinics and universities who approach us with study proposals in the field of essential oil and related natural products research. Dr. Hill and his team are managing 113 relationships with leading research universities, clinical structures, and hospitals around the world.'
%}

<div style="background-color: #E5F3E9;">
<br /><br /><br />
{% include 'text-center' 
  title: 'Medical Advisory Board'
  text: 'doTERRA has assembled a medical advisory board of top experts in fields ranging from dentistry to orthopedic surgery. doTERRA works directly with these healthcare professionals and the larger medical community in developing and advancing the uses of essential oils in clinical environments.'
%}

{% include 'image-list' 
  images: '
https://sourcetoyou.com/assets/biopic-drdavidhill-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drbrannickriggs-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drpaulwinterton-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drjamesgeiger-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drjoshuayorgason-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drjessicaherzog-w462h558.jpg, 
https://sourcetoyou.com/assets/biopic-drgregorywoodfill-w462h558.jpg, 
https://sourcetoyou.com/assets/2x3-amy-wolthoff-w462h558.jpg, 
https://sourcetoyou.com/assets/2x3-andrew-gough-w462h558.jpg'
  labels: 'Dr. David Hill, D.C|Dr. Brannick Riggs, MD|Dr. Paul Winterton, MD|Dr. James Geiger, MD|Dr. Joshua Yorgason, MD|Dr. Jessica Herzog, MD, FAAP, ABHIM|Dr. Gregory Woodfill, DO|Dr. Amy Wolthoff, MD|Dr. Andrew Gough, DO'
  height: '360px'
%}
</div>

{% include 'quick-links'
  titles: 'Growers, Distillers, Scientists'
  links: '/pages/growers, /pages/distillers, /pages/scientists'
  icons: 'https://sourcetoyou.com/assets/leaf-white.svg, https://sourcetoyou.com/assets/droplet-white.svg, https://sourcetoyou.com/assets/flask-white.svg'
%}

<style>
  .main-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
</style>