{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/growers-hero-w1024@2x.jpg'
  full: true
  title: 'Growers'
  text: 'dōTERRA responsibly partners with artisans from over 45 countries who champion the best seeds, soil, and growing environments. In these exclusive partnerships, we know the smallest details matter.'
  icon: 'https://sourcetoyou.com/assets/leaf-white.svg'
  left: true
%}

{% include 'image-text'
  image: 'https://sourcetoyou.com/assets/infopic-oranges.jpg'
  title: 'The dōTERRA Difference'
  text: 'While others in the essential oil industry cut corners during the planting, growing, and harvesting process, or even try to “extend” pure oils by adding less expensive ingredients, dōTERRA is uncompromisingly selective.'
  left: true
%}

{% include 'background-image'
  image: 'https://sourcetoyou.com/assets/row-rainforest.jpg'
  full: true
  title: 'Sourcing Where Plants Thrive Most'
  text: 'In order to work with committed partners and to ensure the best growing conditions, dōTERRA sources essential oils from across the globe. With an ever-expanding product line that includes over 140 origin essential oils sourced from over 45 nations, dōTERRA truly offers Earth’s best gifts.'
  sideImage: 'https://sourcetoyou.com/assets/worldgraphicmapen.png'
  left: true
%}

{% include 'image-text'
  image: 'https://sourcetoyou.com/assets/infopic-gbn.png'
  icon: 'https://sourcetoyou.com/assets/logo-global-botanical-network.svg'
  title: 'Steam Distillation'
  text: 'While the temptation for a company as large as dōTERRA may be to buy large plots of land and mass produce oils, dōTERRA places great value on the expert knowledge of local farmers—many of whom have nurtured essential oil plants for generations. dōTERRA recruits their expertise into a Global Botanical Network and, in doing so, responsibly supports thousands of jobs around the world.'
  left: false
%}

{% include 'image-text'
  image: 'https://sourcetoyou.com/assets/infopic-orange-slices.png'
  title: 'Special and Sweet'
  text: 'dōTERRA’s extensive sourcing partnerships empower dōTERRA to produce exclusive, proprietary oils and blends that preserve the purity and potency of each plant. Ninety-six percent of dōTERRA single oils and oil blends are exclusive, ensuring that essential oil users receive a product that is truly special and sweet.'
  left: true
  fit: true
%}

{% include 'image-text'
  image: 'https://sourcetoyou.com/assets/row-coimpact.jpg'
  text: '<b>When dōTERRA looks for sourcing partnerships, we deliberately choose locations where we can improve the individual, social, economic, and environmental well-being, while producing the highest quality essential oils.</b><p>As many of our essential oils grow best in developing countries, dōTERRA is in a unique position to build and support ethical supply chains that benefit rural communities in need.</p><p>Often times, experienced essential oil farmers, harvesters, growers, and distillers in underdeveloped areas are paid unfairly or taken advantage of, limiting their ability to escape poverty. Co-Impact Sourcing provides the tools needed to help lift these families and communities out of poverty and promote economic development. dōTERRA adheres to additional Sourcing Guiding Principles when working in developing nations.</p>'
  icon: 'https://sourcetoyou.com/assets/logo-doterra-coimpact-sourcing.svg'
  left: false
%}

{% include 'text-center'
  title: 'Sourcing Guiding Principles'
  text: 'Co-Impact Sourcing creates shared value for all stakeholders in the supply chain by being at the source and intentionally implementing environmental stewardship and/or social impact initiatives.'
%}

{% include 'slide-list' 
  images: '
https://sourcetoyou.com/assets/diagram-principles-1-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-2-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-3-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-4-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-5-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-6-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-7-1.svg, 
https://sourcetoyou.com/assets/diagram-principles-8-1.svg'
  height: '100'
  labels: 'Generating Jobs|Fair, On-Time Payments|Building Supplier Capacity|Sustaining Long-Term Partnerships|Fair Labor Conditions|Promoting Co-Operatives|Environmental Stewardship|Facilitating Community Development'
  infos: '
dōTERRA seeks to reduce poverty through generating ethically responsible employment in essential oil production. By creating and sustaining jobs in rural and underdeveloped areas, doTERRA supports marginalized workers and small-scale producers in developing countries and seeks to enable them to move from income insecurity and poverty to economic self-sufficiency.|
dōTERRA provides fair pricing. A fair price is one that has been contractually agreed on by all through dialogue and participation, which provides fair and on-time pay to producers, and can also be sustained by the market. Fair pay means (i) provision of socially acceptable remuneration in the local context and which the producers themselves consider to be fair, and (ii) equal pay for equal work by women and men. Additionally, pre-payments or loans are often provided to sourcing partners to help manage cash-flows and stabilize incomes throughout the year.|
dōTERRA builds the capacity of farmers, distillers, and producers of essential oils. Increased capacity leads to increased incomes for supply chain partners through improvements in farming techniques, increased yields, improved process efficiencies, and strengthens productivity of the supply-chain ecosystem as a whole. dōTERRA supports initiatives, typically through local NGO partners, that build capacity and deliver greater profitability through harvesting and storage services, technology improvements, logistics enhancements, provision of farm inputs, and agricultural training.|
dōTERRA develops long-term partnerships with growers and distillers based on solidarity, trust, and mutual respect. dōTERRA promotes the growth of its partners through long-term contracts that do not maximize profit at their expense, and facilitates predictable pricing for small scale producers to ensure consistent, growing demand. dōTERRA finds appropriate, participatory ways to involve its partners in decision-making processes and ensures that communication channels are open at all levels of the supply chain.|
Cō-Impact Sourcing® requires our partners to ensure fair labor conditions and to promote safe and healthy workingenvironments free from exploitive practices, harassment, and discrimination. Furthermore, it requires partners to comply, at a minimum, with national and local laws and ILO conventions on health and safety, working conditions, and labor laws.|
Cō-Impact Sourcing supports and respects the right of all employees and producers to form and join cooperatives, to bargain collectively, and to maximize the benefits of collective organization. Such collective membership often enables members to obtain better pricing on agricultural inputs, better access to financial instruments, as well as access to collectively-owned harvesting and other equipment.|
Cō-Impact Sourcing promotes the use of energy efficient technologies and renewable energy technologies to minimize greenhouse gas emissions. dōTERRA supports regenerative agriculture practices, encourages agricultural producers to minimize their environmental impacts, and seeks to minimize the impact of waste streams on the environment. Priority is given to buying products made from raw materials that originate from sustainably managed sources, and bulk goods are dispatched by sea wherever possible to minimize carbon footprint.|
dōTERRA recognizes that the well-being of communities surrounding our sourcing partners is key to the long-term viability of essential oil supply. Increasing livelihoods and improving living standards in these communities at large is one of the primary goals of Cō-Impact Sourcing. Premiums are often paid for Cō-Impact Sourced oils, and these funds, as well as contributions from the dōTERRA Healing Hands Foundation®, are used to support community development projects such as the construction of schools, health clinics, training facilities, and clean water systems.'
%}

{% include 'image-text' 
  image: 'https://sourcetoyou.com/assets/logo-doterra-coimpact-sourcing.svg'
  text: 'Creates shared value for all stakeholders in the supply chain by being at the source and intentionally implementing environmental stewardship and/or social impact initiatives.'
  fit: true
%}

<div style="max-width: 1060px; margin: auto; padding: 1em;">
<img width="100%" src="https://sourcetoyou.com/assets/en-co-impact-graphic.png">
</div>

{% include 'quick-links'
  titles: 'Distillers, Scientists, Practitioners'
  links: '/pages/distillers, /pages/scientists, /pages/practitioners'
  icons: 'https://sourcetoyou.com/assets/droplet-white.svg, https://sourcetoyou.com/assets/flask-white.svg, https://sourcetoyou.com/assets/medical-white.svg'
%}



<style>
  .main-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
</style>